.footer{
  width: 100%;
  padding-top: 60px;
  color: $dark_blue;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //margin-bottom: 40px;
    .col {
      width: 18%;
      //background: red;
    }
  .logo-footer{
    display: block;
    margin-bottom: 45px;
  }
    .logo-text{
      font-size: 12px;
      line-height: 19px;
      font-family: "RobotoSlab" , regular;
    }

    .footer-title {
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      margin-bottom: 45px;
    }
  }

  .icons {
    .footer-icon-social {
      margin-right: 36px;
    }
  }

  .footer-text {
    font-size: 12px;
    font-family: 'Roboto' , regular;
    line-height: 14px;
    margin-bottom: 8px;
  }

  .item-contacts{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background-repeat: no-repeat;

    &.icon-tel {
      background: url('../../img/svg/tel-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &.icon-map {
      background: url('../../img/svg/map-marker.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.icon-mail {
      background: url('../../img/svg/mail-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .contacts-text {
    font-size: 12px;
    font-family: 'Roboto' , regular;
    line-height: 14px;

  }
.copyright {
  text-align: center;
  padding: 16px 0px;
  color: $dark_blue;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-family: 'Roboto'  ,regular;
}
}

@media only screen and(max-width: 1280px) {
  .footer{
    .icons{
      .footer-icon-social {
        margin-right: 20px;
        &:last-child  {
          margin-right: 0;
        }
      }
    }
  }
}