


.form-section {
  position: relative;
  &:before{
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    content: '';
    height: 100%;
    background: url("../../img/back-img-up.png");
  }
}

.form-wrapper {
  position: relative;
  z-index: 15;
  top: 40px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 146px;

  .horizontal-form {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    box-shadow: 0px 4px 40px rgba(66, 76, 95, 0.12);
    border-radius: 30px;
    background: white;
    margin-top: 65px;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    input{
      border-top: none;
      border-left: none;
      border-bottom: none;
      text-align: center;
      outline: none;
      width: 180px;

      &:last-of-type {
        border: none;
      }
    }
  }
}

.title-form {
  text-align: center;
  font-size: 24px;
  color: $dark_blue;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
}