.header {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 16;
  color: $black;

  &.sticky{
    background: white;
    .dropdown-list{
      background: white;
    }
    .navigation{
      min-height: 80px;
    }
    .menu-item{
      &:hover{
        .dropdown-list{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .active-tab {
      &:after {
        bottom: 5px;
      }
    }
  }
}

.menu-item{
  min-height: inherit;
  display: flex;
  align-items: center;
  width: calc(100%/7);
  svg {
    margin-left: 16px;
    transition: transform .3s ease;
  }
  &:hover{
    .dropdown-list{
      opacity: 1;
      visibility: visible;
    }
    svg{
      transform: rotate(180deg);
    }
  }
}

.dropdown-list{
  margin: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 24px 32px;
  //transform: translateX(-32px);
  transition: all .3s ease-in-out;
  top: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  li{
    list-style: none;
    margin-top: 16px;
    &:nth-child(1){
      margin-top: 0;
    }
  }
}

.navigation {
  min-height: 92px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  transition: min-height .3s ease;

  a {
    color: $black;
  }
}

.logo-link {
  img {
    max-width: 192px;
  }

}


.mobile-navigation{
  display: none;
}

.header-menu {
  display: flex;
  width: 70%;
  justify-content: space-between;
  position: relative;
  margin: 0;
  min-height: 80px;
  align-items: center;

  .navigation-link {
    text-align: center;
    width : calc(100%/7);
    text-decoration: none;
    &.no-width {
      width: auto;
    }
    &.active-tab{
      color : $orange;
    }
  }

  .menu-item {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile-menu-trigger {
  span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    background: $black;
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease;
  }

  &.active{
    span {
      &:nth-child(1){
        transform: translateY(7px) rotate(-45deg);
      }
      &:nth-child(2){

        opacity: 0;
      }
      &:nth-child(3){
        transform: translateY(-5px) rotate(45deg);
      }
    }
  }
}

.right-side {
  color: $orange;
  font-size: 18px;
}

.block-languages {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: auto;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -37px;
    overflow: hidden;
    width: 50px;
    height: 6px;
    transform: rotate(0deg);
    transition: transform .3s ease;
  }

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: 0;
    right: -28px;
    width: 200%;
    overflow: hidden;
    height: 200%;
    background: transparent;
  }

  &:hover {
    &:after {
      transform: rotate(180deg);
    }

    .dropdown {
      visibility: visible;
      opacity: 1;
      max-height: 150px;
    }
  }

  .dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
  }

  .dropdown{
    list-style: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -12px;
    background: white;
    max-height: 0;
    transition: opacity 0.3s ease;
    padding-bottom: 15px;
    border-radius: 4px;
  }


}

.dropdown-list-item {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;

  a {
    color: $black;
  }
}


@media (max-width: 1024px) {

  .header {
    background-color: #FFFFFF;
    height: auto;
  }

  .navigation {
    display: none;
  }

  .mobile-navigation {
    display: block;
    width: 100%;
    padding-top: 27px;
    a {
      text-transform: uppercase;
      color: $black;
      transform: translateX(50%);
    }

    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo-link{
      margin: 0;

      img {
        max-height: 40px;
        margin-top: 5px;
      }
    }
    .mobile-menu {
      display: flex;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      height: 0;
      box-sizing: border-box;
      flex-wrap: wrap;
      overflow: auto;
      background: #FFFFFF;
      transform: translateX(-100%);
      width: 100%;
      transition: height .3s ease, opacity .3s ease, visibility .3s ease , transform .3s ease;

      &.open{
        margin-top: -1px;
        visibility: visible;
        opacity: 1;
        width: 100%;
        transform: translateX(0);
        height: 100vh;
      }

      .links-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .menu-item {
        position: relative;
        text-align: center;
      }

      .navigation-link {
        margin-top: 24px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .mobile-wrap-lang {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 728px) {

}
