.full-width-carousel {
  margin-top: 90px;
  overflow: hidden;
}

.item-container {
  display: flex;
  width: 73%;
  margin: auto;
  .left-col {
    width: 34.35%;
    padding-right: 41px;
  }
}
.right-col {
  position: absolute;
  right: 0;
  top: 0;
  width: 61.4%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.back{
  display: block;
  clip-path: url('#outer_clip');
  width: 300px;
  height: 300px;
  &:before{
    position: absolute;
    display: block;
    content: '';
    clip-path: url(#inner_clip);
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.4);
  }
}

.clip-svg{
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.wrap-item-carousel {
  display: flex;
  align-items: center;
  min-height: 91vh;
  height: 100%;
  position: relative;
}

.title-item-carousel {
  color: $black;
  font-size: 48px;
  margin-bottom: 32px;
}

.text-item-carousel {
  color: $black;
  font-family: 'RobotoSlab' , sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 40px;

}

.btn-orange {
  background: $orange;
  padding: 10px 20px ;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(255, 144, 108, 0.16);
  background: linear-gradient(#FF9776 , #F58561);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-form {
  padding: 13px 59px;
}


.back{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;

}

// slick carousel

.btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  z-index: 1;
  background: white;
  width: 60px;
  height: 60px;
  &:hover ,
  &:active,
  &:focus{
    outline: none;
  }
}

.before-arrow {
  content: '';
  display: block;
  width: 16px;
  height: 20px;
  background: url('../../img/arrow-slider.png');
  background-repeat: no-repeat;
}

.slick-prev {
  @extend .btn-control;
  left: 6.25%;
  &:before{
    @extend .before-arrow;
   }
}

.slick-next {
  @extend .btn-control;
  right: 6.25%;
  &:hover ,
  &:active,
  &:focus{
    outline: none;
    background: white;
  }


  &:before{
    @extend .before-arrow;
    transform: rotate(180deg);
  }
}

.slick-dots {
  left: 13.5%;
  overflow: hidden;
  bottom: 16%;
  text-align: left;
  z-index: 15;
  li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fa8e6b;
    box-sizing: content-box;

    &.slick-active{
      border: 4px solid #FFD3C4;
    }
  }
}


.before-line {
  position: relative;
  &:before{
    position: absolute;
    top: 0;

  }
}


.background{
  background: $back;
}
.wrap-left-col {
  width: 50%;

}

.title-name {
  color: $dark_blue;
  font-size: 48px;
  font-family: 'Roboto'  , sans-serif;
  margin-bottom: 40px;

}

.text {
  color: $black;
  font-size: 16px;
  line-height: 25px;
  font-family: "RobotoSlab" , sans-serif;
  margin-bottom: 8px;
  max-width: 440px;
}

.btn-about {
  display: inline-block;
  padding: 13px 64px;
  margin-top: 53px;
}

.dispFlex {
  display: flex;

  &.space_between {
    justify-content: space-between;
  }
}

.wrap-right-col {
  width: 48%;
  text-align: center;
  display: flex;
  justify-content: center;
  .photo-kuh{
    background: url("../../img/photo-kuharik.png");
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.circle {
  width: 440px;
  height: 440px;
  background: linear-gradient(#FF906C, #FFCCA7);
  border-radius: 50%;
  position: relative;
  //overflow: hidden;
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: url('../../img/theeth.png');
    opacity: 0.6;
    transform: rotate(30deg);
    background-position: center ;
    z-index: 1;
    //background-repeat: repeat-x;
  }

  .photo {
    overflow: hidden;
    position: absolute;
    top: -30px;
    left: 4%;
    z-index: 10;
    width: 100%;
    height: 111%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.after-element {
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: url("../../img/after_element.png");
    background-repeat: no-repeat;

  }
}
.services {
  margin-top: 300px;
}

#service_slider {
  .slick-prev {
    left: -12.5%;
  }

  .slick-next {
    right: -10.5%;
  }
  .service-item {
      &:nth-child(4n) {
        margin-right: 0;
      }
  }
  .slick-dots {
    position: relative;
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
  }

  .service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 320px;
    background: white;
    //margin-right: 40px;
    box-shadow: 0px 4px 40px rgba(66, 76, 95, 0.12) ;
    //margin-right: 40px;
    position: relative;
    border-radius: 16px;


    .service-link {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      //visibility: hidden;
    }

    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 93px;
      height: 93px;
      background: linear-gradient(#FF9776 ,#F58561 );
      margin-bottom: 32px;
      border-radius: 50%;
    }
    .service-text {
      width: 90%;
      text-align: center;
      color: $dark_blue;
      font-size: 18px;
      line-height: 21px;
      height: 0%;
    }
  }
}

.right-pseudo-element {
  height: 271px;
  background: white;
  position: relative;
  width: 100%;
  &:after{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../../img/svg/right-element.svg');
    background-repeat: no-repeat;
  }
}

.left-pseudo-element {
  height: 145px;
  background: white;
  position: relative;
  width: 100%;
  &:after{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../../img/svg/left-half.svg');
    background-repeat: no-repeat;
  }
}


#reviews_slider {
  .slick-next {
    right: -10.5%;
  }
  .slick-prev {
    left: -12.5%;
  }

  .review-item-wrap {
    display: flex;
    justify-content: center;


    .review-item {
      display: flex;
      flex-wrap: wrap;
      width: 83%;
      background: white;
      height: 371px;
      box-shadow: 0px 4px 40px rgba(66, 76, 95, 0.12);
      border-radius: 40px;
      padding: 32px 24px 23px 32px;
      position: relative;

      &:after{
        position: absolute;
        content : '';
        display: block;
        width: 78px;
        height: 50px;
        bottom: 32px;
        right: 32px;
        background: url("../../img/svg/back-rev.svg");
      }

      .down-block {
        align-self: flex-end;
        min-height: 120px;

        .rating {
          margin-bottom: 27px;
        }

        .author{
          display: flex;
          .photo-wrap {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: grey;
            overflow: hidden;
            position: relative;
            .photo {
              width: 100%;
              height: 100%;
              background-position: top center;
              background-size: contain;
            }

          }

          .description-review {
            margin-left: 24px;

            .name-author {
              color: $dark_blue;
              font-size: 16px;
              font-family: 'Roboto' , sans-serif;
              margin-bottom: 8px;
              text-transform: capitalize;
            }

            .service-title {
              font-size: 14px;
              color: $dark_blue;
              font-family: "RobotoSlab" , regular;
            }
          }
        }
      }
    }
  }
  .slick-active{
    &.slick-current {
      .review-item-wrap {
        display: flex;
        justify-content: flex-end;
      }
    }

  }
  .slick-active {
    .review-item-wrap {
      justify-content: flex-start;
    }
  }

  .review-text {
    width: 100%;
    color: $dark_blue;
    font-size: 16px;
    line-height: 23px;
    font-family: 'RobotoSlab' , sans-serif;
  }

  .slick-dots {
    position: relative;
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
  }

}

.feedback-form {
  margin-top: 85px;

  .form-wrapper-block{
    display: flex;
      max-width: 920px;
    width: 100%;
    //height: 474px;
    margin: auto;
    box-shadow: 0px 4px 40px rgba(66, 76, 95, 0.12);
    background: white;
    border-radius: 16px;
    box-sizing: content-box;
    overflow: hidden;
    .form-left-col {
      padding: 40px 80px;
      width: 50%;
      height: 100%;

    }
    .form-right-col{
      overflow: hidden;
      width: 50%;
      //height: 100%;
      //background: green;

      .google-map {
        width: 100%;
        height: 100%;
      }


    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.form {
  input , textarea{
    width: 100%;
    margin-bottom: 32px;
    padding: 12px 24px;
    background:#F2F4F4 ;
    border-radius: 20px;
    border: none;
    outline: none;
    resize: none;

  }
}

.form-header {
  color: $dark_blue;
  font-size: 18px;
  font-family: 'Roboto' , sans-serif;
  text-align: center;
  margin-bottom: 32px;
}

.after-svg {
  height: 169px;
  background: url("../../img/svg/after-svg.svg");
  width: 100%;
  margin-top: 40px;
}


#blog_slider {
  .slick-prev {
    left: -12.5%;
  }
  .slick-next {
    right: -10.5%;
  }
  .slick-dots {
    position: relative;
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
  }
}


.blog-item {
  box-shadow: 0px 4px 40px rgba(66, 76, 95, 0.12);
  background: white;
  overflow: hidden;
  border-radius: 16px;

  .photo-wrap {
    min-height: 200px;
    width: 100%;
  position: relative;
    .photo {
      width: 100%;
      min-height: inherit;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .down-block {
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    .date {
      color: $orange;
      font-size: 17px;

    }
    .title-news {
      width: 100%;
      color: $dark_blue;
      font-size: 16px;
      font-weight: bolder;
      line-height: 23px;
      font-family: 'Roboto' , sans-serif;
      margin-top: 8px;
    }
    .short-text-news {
      color: $dark_blue;
      font-size: 12px;
      line-height: 19px;
      font-family: 'RobotoSlab' , regular;
      margin-top: 16px;
    }
  }

}


@media only screen and(max-width: 1280px) {
  .wrap-left-col {
    width: 50%;
  }

  #reviews_slider .review-item-wrap .review-item {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap-right-col {
    justify-content: flex-end;
    .circle{
      width: 330px;
      height: 330px;
    }
  }
  .wrap-left-col {
    width: 50%;
  }

  .container {
    width: 84.5%;
  }

  .slick-prev {
    width: 40px;
    height: 40px;
    left: 0;
  }
  .slick-next {
    width: 40px;
    height: 40px;
    right: 0;
  }

  .item-container {
    width: 84.5%;
  }

  .full-width-carousel {
    .slick-dots {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5%;
    }
  }


  #service_slider , #reviews_slider  , #blog_slider {
    .slick-next {
      right: -9%;
    }
    .slick-prev{
      left: -9%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .feedback-form {
    .form-wrapper-block {
      flex-direction: column;
      .form-left-col ,
      .form-right-col {
        width: 100%;
      }
      .form-right-col {
        height: 520px;
      }

    }
  }
}

@media only screen and (max-width: 568px) {
  #service_slider .service-item {
    width: 80%;
    margin: auto;
  }
  #blog_slider .blog-item {
    width: 80%;
    margin: auto;
  }
}




.slick-slide {
  margin: 0 20px;
}
/* the parent */
.slick-list {
  margin: 0 -20px;
}