* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: 'RobotoSlab' , sans-serif;
}
button{
  outline: none;
}

.container {
  width: 73% ;
  margin: auto;
  &.mt50{
    margin-top: 100px;
  }
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  overflow-x: hidden;
  .slick-list{
    overflow: visible;
  }
}
section {
  width: 100%;
}

a{
  text-decoration: none;
  outline: none;
  &:focus{
    //color : black;
    text-decoration: none;
  }
}

.slick-slide{
  opacity: 0;
  transition: opacity .15s ease;
  &.slick-active{
    opacity: 1;
  }
}

.pb80 {
  padding-bottom: 80px;
}